@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.balance-number{
    align-items: right;
    justify-content: left;
    position:absolute; 
    top: -0.5em;;
    right:-8em; 
    list-style-type: none;
    color: rgb(0, 0, 0);
    font:1.2em Arial, sans-serif;
  }

.balance {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    align-items: left;
    justify-content: left;
    position:absolute;
    top: 1em;;
    right:11em;
}

.balance h2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    color: #fff;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, -50%);
}

.balance h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.balance h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}