#main-links > a{
    margin: 20px;
    color: #000596;
    text-shadow: 1px 0 #ecf0f1;
    font-weight:bold;
    font-size: 2rem;
}

*{
    text-decoration: none;
    font-family: 'Bungee'
}

a{
    cursor: pointer;
    color: black;
}

#balance{
    float:right;
}

